.nav{       
    padding-top: 1rem;
  

         text-align: left;
         padding-left: 2rem;
         font-size: 2rem;
         font-weight: bold;
         color: rgb(255, 255, 255) !important;
         border-radius: 0px 0px 9px 9px;
    background-color: rgba(27, 26, 26, 0.308) !important;
    text-shadow: 3px 3px 5px rgb(7, 7, 7);
    
}

.navbar-brand {
    font-size: 2rem !important;
    padding-bottom: 0.5rem !important;
    color: rgb(243, 245, 247);
}

.log{
    color: white !important;
    cursor: pointer;
}
.log:hover{
    cursor: pointer;
    color: rgb(119, 1, 31) !important;
    text-shadow: 3px 3px 5px rgb(223, 221, 221) !important;
}
